
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Football Application Statistics Main Website</title>
	<meta charset="utf-8">
	<link rel=stylesheet type="/text/css" href="<%= request.getContextPath() %>../css/main.css">
	<link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
<div class="wrapper">

	<div id="border">
	  <div class="one">
		<img src="../resources/Ekstraklasa.png" alt="Ekstraklasa" height="300px" width="300px">
	  </div>
	</div>
	
	<div id="border">
	  <div class="two">
		<img src="<%= request.getContextPath()%>WebContent/css/1liga.jpg" alt="I Liga" height="300px" width="300px">
	  </div>
	</div>
	
	<div id="border">
	  <div class="three">
		<img src="../resources/2liga.jpg" alt="II Liga" height="300px" width="300px">
	  </div>
	</div>
	
	<div id="border">
	  <div class="four">
		<img src="../resources/3liga.png" alt="III Liga" height="300px" width="300px">
	  </div>
	</div>
	
</div>
</body>
</html>